<?xml version='1.0' encoding='UTF-8'?>
<org.jenkinsci.plugins.jobgenerator.JobGenerator plugin="jobgenerator@1.22">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.jenkinsci.plugins.jobgenerator.parameters.GeneratorKeyValueParameterDefinition>
          <name>PROJECT_NAME_PARAM</name>
          <description></description>
          <defaultValue></defaultValue>
        </org.jenkinsci.plugins.jobgenerator.parameters.GeneratorKeyValueParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:kabass/${PROJECT_NAME_PARAM}.git</url>
        <credentialsId>e829ff57-3c43-442b-b783-fba3406bee2d</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# check branch synchronizatio
## get all branch
branches=()
git branch -r  | grep -v &quot;origin/HEAD&quot;  | sed &quot;s/^[ \t]*//;s/[ \t]*$//&quot; | sed &quot;s/^origin\///&quot;  | grep -v &quot;^$&quot; &gt; branches

while read -r line # Loop through all the lines in the branches file
do
if [[ &quot;$line&quot; =~ [0-9]+(\.[0-9]+)?$ ]]; then
branches+=($line)
fi
done &lt; branches
rm  branches

## select branch to check
#selectedBranches=()
#selectedBranches+=(&quot;${VERSION}&quot;)
#for ((i=0; i&lt;(${#branches[*]}); i++));
#do
#   if [[ ${branches[i]}  &gt; &quot;${VERSION}&quot; ]]; then
#     selectedBranches+=(${branches[i]})
#   fi
#done
#selectedBranches+=(&quot;master&quot;)

## check selected branch
branches+=(&quot;master&quot;)
for ((i=0; i&lt;(${#branches[*]}-1); i++));
do
   git checkout ${branches[(i+1)]}
   git merge &quot;origin/${branches[(i)]}&quot; --ff-only
   
   if [ ${?} -ne 0 ]; then
    echo &quot; branch  ${branches[(i)]} not merged to branch ${branches[(i+1)]}&quot;
    exit 1
   fi 
   
done


</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.34">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
  </buildWrappers>
  <generatedJobName>${PROJECT_NAME_PARAM}-branch-checker</generatedJobName>
  <generatedDisplayJobName>${PROJECT_NAME_PARAM}-branch-checker</generatedDisplayJobName>
  <autoRunJob>false</autoRunJob>
</org.jenkinsci.plugins.jobgenerator.JobGenerator>